<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Health Check</a> |
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" [routerLink]="['/']">Home </a>
        <!-- <span class="sr-only">(current)</span> -->
        <a class="nav-item nav-link" [routerLink]="['/fetch-data']">Fetch Data</a>
        <a class="nav-item nav-link" [routerLink]="['/health-check']">Health Check</a>
        <!-- <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
      </div>
    </div>



  </nav>
</header>
