<div class="container container-fluid">
  <h1 class="text-info">
    List of Domains and their Health Status

  </h1>
  <p>Here are the results of our health check: </p>
  <div *ngIf="!healthData">
    <em> Loading health data...</em>
  </div>
  <div *ngIf="healthData">
    <table class="table table-light table-bordered">
      <thead class="text-capitalize text-uppercase">
        <th>Name</th>
        <th>Response Time</th>
        <th>Status</th>
        <th>Description</th>

      </thead>
      <tbody>
        <tr *ngFor="let item of healthData">
          <td>{{item.name}}</td>
          <td>{{item.responseTime}}</td>
          <td class="status {{item.status}}">{{item.status}}</td>
          <td>{{item.description}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Total Status</td>
          <td class="">{{totalStatus}}</td>
          <td>Total Response Time</td>
          <td>{{totalResponseTime}}</td>


        </tr>
      </tfoot>
    </table>
  </div>
</div>
